body{
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* header */

.header{
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #1F2937;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #E5E7EB;
    padding: 16px;
    font-size: 18px;
}

.logo{
    padding: 16px;
    font-size: 24px;
    color: #F9FAF8;
}

/* hero */

.hero{
    display: flex;
    background-color: #1F2937;
    padding: 100px;
    justify-content: center;
    gap: 64px;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-wrap: wrap;
}

.image{
    display: flex;
    align-items: center;
    width: 600px;
    height: 200px;
    background-color: grey;
    justify-content: center;
}

.hero h1{
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-weight: bold;
}

.hero p{
    margin: 0;
    margin-bottom: 8px;
    color: #E5E7EB;
    font-weight:lighter;
    font-size: 18px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
}
.hero button{
    background-color: #3382F6;
    border-radius: 6px;                 /* rounds the button border */
    padding: 8px 32px;
    border: none;                       /* removes the button border */
    color: #E5E7EB;
}

/* middle of the page */

.info-title{
    text-align: center;
    padding: 16px;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: 900;
}
.information{
    display: flex;
    justify-content: center;  
    gap: 52px;
    flex-wrap: wrap;
    margin-bottom: 80px;
}
.square{
    width: 150px;
    height: 150px;
    border: 5px #3382F6 solid;
    border-radius: 16px;
}
.info{
    display: flex;
    flex-direction: column;
    max-width: 150px;
    align-items: center;
    text-align: center;
}

/* quotation */

.quote-container{
    display: flex;
    background-color: #E5E7EB;
    align-items: center;
    justify-content: center;
    padding: 120px;
}
.quote{
    display: flex;
    flex-direction: column;
}
.quote h1{
    font-family: sans-serif;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
    font-size: 36px;
    margin: 0;
    padding: 0;
}
.autor p{
    font-size: 26px;
    font-family: sans-serif;
    align-items: center;
    justify-self: end;
}

/* ad */

.ad-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px;
}
.ad{
    background-color:#3382F6;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    flex: 1;
    margin: 0 80px;
    border-radius: 12px;
}
.ad-left{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}
.ad-right{
    display: flex;
    align-items: center;
}
.ad h1,
.ad p{
    margin: 0;
    font-family: sans-serif;
}

.ad button{
    border-radius: 6px;
    background-color: #3382F6;
    border: 3px #F9FAF8 solid;
    color: #F9FAF8;
    padding: 8px 16px;
}

.ad h1{
    font-size: 24px;
}

/* footer */

.footer-container{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}
.footer{
    padding: 10px;
}
.footer p{
    font-family: sans-serif;
}